@model SotDLCharGen.ViewModels.ClockworkPurposeViewModel

@{
    ViewData["Title"] = "Create";

}

<h2>Create</h2>

<h4>ClockworkPurpose</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="ClockworkPurposeValue" class="control-label"></label>
                <input asp-for="ClockworkPurposeValue" class="form-control" />
                <span asp-validation-for="ClockworkPurposeValue" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ClockworkPurpose" class="control-label">Clockwork Purpose</label>
                <select asp-for="ClockworkPurposeId" class="form-control" asp-items="@Model.ClockworkPurpose"></select>
                <span asp-validation-for="ClockworkPurpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

