@model SotDLCharGen.ViewModels.ClockworkPurposeViewModel

@{
    ViewData["Title"] = "Create";

}

<h2>Create</h2>

<h4>ClockworkPurpose</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="ClockworkPurposeValue" class="control-label"></label>
                <input asp-for="ClockworkPurposeValue" class="form-control" />
                <span asp-validation-for="ClockworkPurposeValue" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ClockworkPurpose" class="control-label">Clockwork Purpose</label>
                <select asp-for="ClockworkPurposeId" class="form-control1" asp-items="@Model.ClockworkPurpose"></select>
                <span asp-validation-for="ClockworkPurpose" class="text-danger"></span>
            </div>
            @*Custom buttons dependent on options*@
            <div class="col-md-12">
                <button type="button" class="button btn btn-grey" id="strength"> Strength +2</button>
                <button type="button" class="button btn btn-grey" id="agility"> Agility +2</button>
                <button type="button" class="button btn btn-grey" id="intellect"> Intellect +2</button>
                <button type="button" class="button btn btn-grey" id="will"> Will +2</button>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<p>
    Your value <spam id="changed"></spam>
</p>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts{ 
@*javascript!*@
<script src="~/js/clockworkButtons.js"></script>
    }
