@{
    ViewData["Title"] = "Home Page";
}

<h1 class="center-block heading">Shadow of the Demon Lord Character Generator</h1>
<div class="center-block">
    <img src="~/images/3zsqa75.jpg" alt="ASP.NET" class="img-responsive" />
</div>

