@model SotDLCharGen.ViewModels.CharacterCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Character</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Character.CharacterName" class="control-label"></label>
                <input asp-for="Character.CharacterName" class="form-control" />
                <span asp-validation-for="Character.CharacterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character.Gender" class="control-label"></label>
                <input asp-for="Character.Gender" class="form-control" />
                <span asp-validation-for="Character.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character.Level" class="control-label"></label>
                <input asp-for="Character.Level" class="form-control" />
                <span asp-validation-for="Character.Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ancestries" class="control-label"></label>
                <select asp-for="Character.AncestryId" class="form-control" asp-items="@Model.Ancestries"></select>
                <span asp-validation-for="Ancestries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="ApplicationUser" asp-action="UserHome">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
