@model SotDLCharGen.ViewModels.HumanEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-center">Edit Your Character</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Character.CharacterId" />
            <div class="form-group">
                <label asp-for="Character.CharacterName" class="control-label"></label>
                <input asp-for="Character.CharacterName" class="form-control" />
                <span asp-validation-for="Character.CharacterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Character.Gender" class="control-label"></label>
                <input asp-for="Character.Gender" class="form-control" />
                <span asp-validation-for="Character.Gender" class="text-danger"></span>
            </div>
            <div class="form-group hidden">
                <label asp-for="Character.Level" class="control-label"></label>
                <input asp-for="Character.Level" class="form-control" />
                <span asp-validation-for="Character.Level" class="text-danger"></span>
            </div>
            <div class="form-group hidden">
                <label asp-for="Character.ApplicationUserId" class="control-label"></label>
                <input asp-for="Character.ApplicationUserId" class="form-control" asp-items="Model.ApplicationUserId"/>
                <span asp-validation-for="Character.ApplicationUserId" class="text-danger"></span>
            </div>
            <div class="form-group hidden">
                <label asp-for="Character.AncestryId" class="control-label"></label>
                <input asp-for="Character.AncestryId" class="form-control"/>
                <span asp-validation-for="Character.AncestryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-grey" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="ApplicationUser" asp-action="UserHome">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
